
<div class="container" style="border:1px solid dodgerblue">
    <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="row">

    </div>
</div>