
<div class="container" style="border:2px solid dodgerblue">
    <div class="row" style="height: 80%">
        <div class="col-4" >
          <div class="card" style="height: 100%">
            <div class="card-body">
              Panel for creating a new session
              Panel for creating a new session
              Panel for creating a new session
              Panel for creating a new session
              Panel for creating a new session
              Panel for creating a new session
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card" style="height: 100%">
            <div class="card-body" style>
             Here will be a history of previous sessions with links _in 1 hour <br>
             Here will be a history of previous sessions with links _in 5 minutes | Join <br>
             Here will be a history of previous sessions with links _one hour ago <br>
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
             Here will be a history of previous sessions with links
           </div>
      </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>