
<div class="landing">
    <div class="container">
        
        <div class="row logotop" style="margin-top:8% !important;
    margin-bottom: 5%;"> 
            <%=image_tag 'honestly.png', :style => "width:30%; margin: 0 auto"%>  
        </div>
        <div class="row">
                <div class="badge text-wrap" style="width: auto; font-size: xx-large; background-color: dodgerblue; border-top-right-radius: 50%; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; padding-bottom: 2px; font-family: serif;">
                  This is...
                </div>
                <hr style="height: 4px; color:dodgerblue; opacity: 100%; ">

                <p class="lh-lg" style="color:dodgerblue; font-size: larger; font-weight: bold;">
                    ...an attempt to put ducks in a row.
                </p>
                <hr style="height: 4px; color:white; opacity: 100%;">
        </div>
        <div class="row">
            <div class="col-6">
                Orderly Join a Session:
                
            </div>
            
            <div class="col-6">
                
                <%= link_to "Join the Orderly Side", new_user_registration_path, class: 'btn', style:'background-color:dodgerblue; color: white' %>
                <br />
                <%= link_to "Report for duty", new_user_session_path, class: 'btn btn-dark' %>
            </div>
           
            
            
        </div>
    </div>

</div>



