
          
           
          
                  <li class="list-group-item present-item border-color:<%= @c %>" id=<%=p %> >
                          <%= p %>       
                 </li>
           

