
.btn-session {
    width:49.5%;
    border-radius: 0px !important;
    color: white !important;
}

.bblue{
    background-color: #SF5F5EF !important;
}

.cgreen {
    background-color: #B5243B !important;
}

.dblue {
    background-color: #1679A2 !important;
}
.grey {
    background-color: #F5F5EF !important;
}

.orange {
    background-color: #D14914 ! important;
}


body {
   background: #F5F5EF !important;
}

.whitetext {
    color: cornsilk !important
}
.orangetext {
    color:#D14914 !important
}

.pillitem {
    
    background-color: #4ECAC4 !important;
    font-size:14px;
    line-height: 14px !important
}

